/* common reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @media only screen and (min-width:768px) { */
 a{
    text-decoration: none;
}
li{
    list-style: none;
}
#home{
    background:linear-gradient( #ab25a7,#f48e21,#b91c8c,#97b42d);
    /* background:linear-gradient( #9f2e9b,#9b5f1e,#9e1e7a,#7e981e); */
    width: 100%;
    height:100vh;
    background-size: 300% 300%;
    animation: color 1s ease-in-out infinite;
}
@keyframes  color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* nav bar */
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-top: 50px;
    margin-left: 20px;
    width: 150px;
}
nav ul{
    margin-right: 20px;
    margin-top: 40px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    transition: 0.3s ease-in-out;
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: 'Mukta Malar', sans-serif;
    /* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
}
nav ul li a:hover{
    color: black;
}
.menu{
    display: none;
}
.menu img{
    width: 40px;
    margin-right: 20px;
}
.closs{
    display: none;
}
/* home section  */
.content_home{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.home-text{
    top: 180px;
    position: absolute;
    width: 70%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.home-text h1{
    font-size: 60px;
    margin-left: 80px;
    color: white;
font-family: 'Rubik Mono One', sans-serif;
}
.home-text h3{
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 80px;
    color: rgb(53, 52, 52);
    font-family: 'Pragati Narrow', sans-serif;
}
.home-text h4{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 80px;
    color: black;
    font-family: 'Ramabhadra', sans-serif;
}
.home-text hr{
    width: 50%;
    margin-left: 80px;
    margin-top: 15px;
    font-weight: bold;
}
.home-text p{
    margin-left: 80px;
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}
.icon{
    margin-left: 80px;
}
.icon i{
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    
}
.home-text #btn-home{
    margin-left: 80px;
    width: 130px;
    height: 40px;
    font-size: 25px;
    color: white;
    display: flex;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    background-color: #f804b3;
}
.home-image{
    width: 30%;
}
.home-image img{
    right: 150px;top: 0;
    border-radius: 20px;
    position: absolute;
}
/* about section */
#about{
    background:linear-gradient( #ab25a7,#b91c8c,#f48e21,#97b42d);
    width: 100%;
    height:100vh;
    background-size: 300% 300%;
    animation: color 1s ease-in-out infinite;
}
.about-main{
    
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 480px;
    padding: 20px;
    background-color: white;
    margin: auto;
}
.about-image{
    width: 30%;
}
.about-image img{

    width: 350px;
}
.text h5{
    color:black;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.text{
    height: 50%;
}
.text p{
    font-family: 'Signika', sans-serif;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 10px;
}
.skills{
    height: 50%;
}
.skills h2{
    margin-left: 40px;
}
.skills img{
    width: 70px;
    margin-top: 40px;
    margin-left:40px ;
}

#services,#contact{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    color:white;
    font-size: 30px;

}
#about h1{
    text-align: center;
    padding-bottom: 20px;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

/* service section */
#services{
    background:linear-gradient(#b91c8c,#f48e21,#97b42d,#ab25a7);
    width: 100%;
    height:100vh;
    background-size: 300% 300%;
    animation: color 1s ease-in-out infinite;
}
.service-main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    margin-top: 50px;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.service-box{
    /* margin: 30px; */
    margin-left: 30px;
    text-align: center;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    margin-top: 10%;margin-bottom: 15%;
    transition: 0.4s ease;
}
.service-box:hover{
    /* background-color: orange; */
    transform: scale(1.1);
    background-color:  rgb(214, 8, 8); 
    color: white;
}
.service-box p{
    font-family: 'Laila', sans-serif;
    font-size: 15px;
    color: black;
    flex-wrap: wrap;
    margin-top: 10px;
}
.service-box img{
    width: 90px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.service-box h3{
    font-family: 'Bitter', serif;
    color :black;
    font-size: 20px;
}

.webdesign-text img {
    width: 140px;
}
.uiux img{
    width: 140px;
}
.uiux h3{
    margin-top: 20px;
}
/* contact section */
#contact{
    background:linear-gradient(#f48e21,#97b42d,#841f80,#75205c);
    width: 100%;
    height:110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 300% 300%;
    animation: color 1s ease-in-out infinite;
}
.contact-main{
    width: 70%;
    height: 80vh;
    display: flex;
    border-radius: 50px;
    background: white;
}
.contact-info{
    flex-basis: 50%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient(rgb(172, 28, 112),rgb(41, 31, 156));
}
.contact-form{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    flex-basis: 50%;
    background: white;
}
.contact-form h1{
    margin-top: 20px;
    color:black;
}
.input-row{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 40%;
}
input{
    padding: 0 0 20px 20px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    outline: none;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    
}
.contact-info h1{
    margin-top: 30px;
}
table{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* tr td:first-child{
    padding-right: 20px;
    padding-left: 10px;
} */
tr td{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: first baseline;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
}
.sociel-contact{
    margin-top: 20px;
    margin-left: 10px;
    align-items: first baseline;
}
.contact-info p{
    font-size: 18px;
    margin-top: 30px;
}
.td-d{
    font-weight: bold;
}
 /* } */